<div dir="rtl">
    
###

   - **יש למלא את המחברת באנגלית בלבד**
   - **מומלץ להשתמש בהמשך באותו הקובץ להגשת הפרויקט (מיחקו את התא הזה)**
   - **הקפידו למלא טקסט בשדות מסוג מארק-דאון וקוד בשדות מסוג קוד (אחרת ירדו לכם נקודות)**
     
###   המחברת תכלול  (לכל הפחות):
- שם הפרויקט
- שמות מלאים של כל חברי הצוות, ללא ת.ז
- תיאור הפרויקט (3-4 משפטים)
- קישור למקור ממנו הורדתם את הנתונים  
- הסבר על מקור הנתונים
- תיאור קצר של הדאטה בעזרת הפקודות שנלמדו בקורס ונעשה בהם שימוש בפרוירט
- שלוש שאלות ראשוניות של דברים שהיה מעניין אתכם להוציא מהקובץ
#### בהצלחה !
</div>

In [50]:
#שאלה ראשונה: האם צריך רק תז או שם מלא  
#האם מותר לשנות שם עמודה בדאתא כדי שנזהה אותה נכון (אני מדברת על עמודה # שהיא עמודת מזהה ואנחנו רוצות לקרוא לה בשם אחר)

# Project Name: `Layoff Trends in the Global Tech Industry (2020–2024)`

### Project team members:
- `Roni Shapiro`
- `212296099`

### Project number: <insert here>
`10`

### Project description:
`1-3 lines describing your project`

### Link to the data:
The dataset was downloaded from Kaggle:  
https://www.kaggle.com/datasets/ulrikeherold/tech-layoffs-2020-2024

### Explain the data source:
`1-3 lines describing how this data was gathered, where from etc.`

----

#### Read you file from Github:

In [41]:
import pandas as pd

url='https://raw.githubusercontent.com/MiriamDinay/Layoff-Trends/main/tech_layoffs.csv'
Layoff_df=pd.read_csv(url)
Layoff_df.head()

# Layoff_df=pd.read_csv('tech_layoffs.csv')

,#,Company,Location_HQ,Country,Continent,Laid_Off,Date_layoffs,Percentage,Company_Size_before_Layoffs,Company_Size_after_layoffs,Industry,Stage,Money_Raised_in_$_mil,Year,lat,lng
0,3,ShareChat,Bengaluru,India,Asia,200.0,2023-12-20,15.0,1333.0,1133.0,Consumer,Series H,$1700,2023,12.97194,77.59369
1,4,InSightec,Haifa,Israel,Asia,100.0,2023-12-19,20.0,500.0,400.0,Healthcare,Unknown,$733,2023,32.81841,34.98850
2,6,Enphase Energy,San Francisco Bay Area,USA,North America,350.0,2023-12-18,10.0,3500.0,3150.0,Energy,Post-IPO,$116,2023,37.54827,-121.98857
3,7,Udaan,Bengaluru,India,Asia,100.0,2023-12-18,10.0,1000.0,900.0,Retail,Unknown,NaN,2023,12.97194,77.59369
4,14,Cruise,San Francisco Bay Area,USA,North America,900.0,2023-12-14,24.0,3750.0,2850.0,Transportation,Acquired,$15000,2023,37.77493,-122.41942

#### Describe the data
* How many rows?
* How many columns?
* How many numeric columns? (not including numerical identifiers - numbers that uniquely define the row)
* How many categorical columns? (not including string identifiers -  values that uniquely define the row)

In [42]:
#How many rows?
#How many columns?

Layoff_df.shape

(1672, 16)

In [43]:
Layoff_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   #                            1672 non-null   int64
 1   Company                      1672 non-null   object
 2   Location_HQ                  1672 non-null   object
 3   Country                      1672 non-null   object
 4   Continent                    1672 non-null   object
 5   Laid_Off                     1565 non-null   float64
 6   Date_layoffs                 1672 non-null   object
 7   Percentage                   1570 non-null   float64
 8   Company_Size_before_Layoffs  1511 non-null   float64
 9   Company_Size_after_layoffs   1536 non-null   float64
 10  Industry                     1672 non-null   object
 11  Stage                        1672 non-null   object
 12  Money_Raised_in_$_mil        1596 non-null   object
 13  Year                         1672 non-null   int64
 14  lat                          1672 non-null   float64
 15  lng                          1672 non-null   float64
dtypes: float64(6), int64(2), object(8)
memory usage: 209.1+ KB

In [44]:
Layoff_df.describe()

,#,Laid_Off,Percentage,Company_Size_before_Layoffs,Company_Size_after_layoffs,Year,lat,lng
count,1672.000000,1565.000000,1570.000000,1511.000000,1536.000000,1672.000000,1672.000000,1672.000000
mean,2064.454545,278.387859,22.908089,3656.882859,3319.764323,2022.200957,34.347327,-59.878868
std,1023.379865,886.840962,22.639874,21855.230097,21048.185826,1.302412,18.010614,74.139291
min,3.000000,3.000000,0.000000,4.000000,0.000000,2020.000000,-41.286640,-123.262044
25%,1209.750000,40.000000,9.050000,218.000000,150.000000,2022.000000,34.052230,-122.325530
50%,2188.500000,87.000000,15.000000,553.000000,424.000000,2022.000000,37.774930,-79.398640
75%,2990.250000,200.000000,28.000000,1500.000000,1200.000000,2023.000000,42.358430,-0.125740
max,3537.000000,12000.000000,100.000000,400000.000000,392000.000000,2024.000000,60.204767,174.775570

In [51]:
# How many numeric columns?
# לציין שלא כללנו מזהים
numeric_cols = Layoff_df.select_dtypes(include=['int64', 'float64']).columns
numeric_cols = numeric_cols.drop(['#', 'lat', 'lng']) #האם להוריד או להשאיר?
len(numeric_cols)

#### לבדוק את זה!!!!! המספר במשפט למטה לא תואם

5

Although the dataset contains additional numeric columns such as a unique ID and geographic coordinates, these columns were excluded from the analysis since they serve as identifiers rather than meaningful quantitative variables.

In [47]:
# How many categorical columns?
categorical_cols = Layoff_df.select_dtypes(include=['object']).columns
categorical_cols = categorical_cols.drop(['Company']) #האם להוריד או להשאיר?
len(categorical_cols)

7

Categorical columns were identified based on object data types, while string identifiers such as the company name were excluded from the analysis.

#### Write three questions you would like to answer using this data

1. `1. How do layoff patterns vary over time, and are there noticeable peaks during specific periods between 2020 and 2024?`

2. `2. How does company stage influence the frequency and severity of layoffs in the tech industry?`

3. `3. Do smaller companies experience more severe layoffs relative to their size compared to larger companies?`

In [48]:
#האם אפשרי לעשות 4 שאלות?

<div style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
  <span style="color: red;"><strong>— Do not proceed beyond this point. This is for the next steps, do not fill in —</strong></span>
</div>

---
### <span style="color:green"> Observation 1:</span>
How do layoff patterns vary over time, and are there noticeable peaks during specific periods between 2020 and 2024?
>
>
>
>


---

---
### <span style="color:green"> Observation 2:</span>

>
>
>
>


---

---
### <span style="color:green"> Observation 3:</span>

>
>
>
>


---

---
### <span style="color:green"> Summary</span>

> Anything you'd like to say - your conclusions, summary, how hard you worked etc.
>
>    
>   
   

---